%ul.oauth-buttons
  - OAuthAuthorization.providers.each do |provider|
    %li
      = link_to omniauth_authorize_path(:user, provider) do
        = fa_icon(provider)
        %span #{provider.capitalize}アカウントでログイン
